<div class="header flex justify-center h-[60px] px-[12px] bg-[#86e100]" >
    <div class="wrapper flex items-center justify-between w-full h-full sm:w-[1200px]">
        <div class="bar sm:hidden" >
            <i class="fas fa-bars text-2xl"></i>
        </div>

        <div class="logo w-[100px] h-[60px]"></div>

        <div class="p-header  hidden sm:flex" >
            <div class="login text-red-100" >Login</div>
            <div class="reg">register</div> 
        </div> 
        
        <div class="language w-[20px] h-[20px]"></div>
    </div>
      
   
</div>