<div
  class="header flex justify-center h-[54px] px-[12px] bg-[#86e100] tablet:bg-[#e89d9d] portal:h-[56px] portal:bg-[#e6e6e6]"
>
  <div class="flex items-center justify-between w-full h-full portal:w-4/5">
    <div class="bar portal:hidden">
      <i class="fas fa-bars text-2xl"></i>
    </div>

    <div class="logo w-[100px] h-full portal:hidden"></div>

    <div>
      <span
        class="language inline-block align-middle w-[20px] h-[20px] mr-[5px]"
      ></span>
      <span class="hidden portal:inline-block">2021/11/22 (T2) 02:32:02</span>
    </div>

    <ul class="right flex items-center justify-between">
      <li class="chat">CSKH ONLINE</li>
      <li class="login">ĐĂNG NHẬP</li>
      <li class="reg">ĐĂNG KÝ</li>
    </ul>
  </div>
</div>

<div class="bottom h-[70px] hidden tablet:block">
  <div
    class="flex items-center justify-between w-full h-full px-[12px] portal:w-4/5 m-auto"
  >
    <div class="logo w-[100px] h-full"></div>
    <ul
      class="flex justify-between items-center w-4/5 text-white text-sm tablet:text-[10px]"
    >
      <li>TRANG CH</li>
      <li>NỔ HŨ</li>
      <li>TRÒ CHƠI CỜ</li>
      <li>BẮN CÁ</li>
      <li>TRỰC TUYẾN CASINO</li>
      <li>THỂ THAO</li>
      <li>XỐ SỐ</li>
      <li>HOẠT ĐỘNG ƯU ĐÃI</li>
    </ul>
  </div>
</div>
