<div
  class="header"
  [ngClass]="{ 'is-portal': isportal, 'is-tablet': istablet }"
>
  <div class="wrapper" [ngClass]="{ 'is-portal': isportal }">
    <div class="bar" *ngIf="!isportal">
      <i class="fas fa-bars text-2xl"></i>
    </div>

    <div class="logo" *ngIf="!isportal"></div>

    <div>
      <span class="language"></span>
      <span *ngIf="isportal">2021/11/22 (T2) 02:32:02</span>
    </div>

    <ul class="right" *ngIf="isportal">
      <li class="chat">CSKH ONLINE</li>
      <li class="login">ĐĂNG NHẬP</li>
      <li class="reg">ĐĂNG KÝ</li>
    </ul>
  </div>
</div>

<div class="bottom" *ngIf="isportal || istablet">
  <div class="wrapper" [ngClass]="{ 'is-portal': isportal }">
    <div class="logo"></div>
    <ul class="nav" [ngClass]="{ 'is-tablet': istablet }">
      <li>TRANG CH</li>
      <li>NỔ HŨ</li>
      <li>TRÒ CHƠI CỜ</li>
      <li>BẮN CÁ</li>
      <li>TRỰC TUYẾN CASINO</li>
      <li>THỂ THAO</li>
      <li>XỐ SỐ</li>
      <li>HOẠT ĐỘNG ƯU ĐÃI</li>
    </ul>
  </div>
</div>
